.searchbox {
    border-radius: 25px;
    min-height: 30px;
    min-width: 30px;
    margin: 5px;
    padding: 5px;
}

.view_button {
    background: none;
    border: none;
}

/* .sidebar {
    background-color: rgba(246, 248, 250, 0.95);
} */